/* ----------------------------------------

Test CSS

---------------------------------------- */

/* This is a comment. It won't show up on your page */

/* Border box, adjusts box model to be easier to use */
/* Always include this for consistency */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { 
	font-family: Helvetica, Arial;
	font-size: 18px;
	line-height: 1.4; 
}

header {
	background-color: #d5265c;
	text-align: center;
	color: white;
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
}

header span {
	opacity: .6;

}

section.intro {
	padding-top: 50px;
	padding-bottom: 40px;
	background-image: url("../images/hair.jpg");
	background-size: cover;
	color: white;
}

.container {
	max-width: 500px;
	margin: 0 auto;
}

a {
	color: #d5265c
}

p {
	margin-top: 20px;
}

ul {
	list-style-type:  circle;
}

img {
	width: 100%;
	border: 10px solid red;
}